       @import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Laila:wght@300;400;500;600;700&family=Madimi+One&family=Mitr:wght@200;300;400;500;600;700&family=Ojuju:wght@200..800&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');  
   @import url('https://fonts.googleapis.com/css2?family=Crushed&family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Nova+Cut&family=Tulpen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
body {
	background-color: #08171e;
}

html {
	height: 100%;
}

#stars, #stars2, #stars3 {
	position: absolute;
	top: 0;
	left: 0;
}

#stars, #stars2, #stars3, #stars::after, #stars2::after, #stars3::after
	{
	content: "";
	position: absolute;
}

#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 77px 96px #FFF, 332px 97px #FFF, 303px 923px #FFF, 1594px
		1061px #FFF, 1200px 200px #FFF, 500px 600px #FFF, 800px 800px #FFF,
		200px 1500px #FFF;
	animation: animStar 50s linear infinite;
}

#stars::after {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: inherit;
}

#stars2 {
	width: 2x;
	height: 2px;
	background: transparent;
	box-shadow: 792px 467px #FFF, 1692px 857px #FFF, 1609px 1015px #FFF,
		929px 1179px #FFF, 59px 1397px #FFF, 200px 300px #FFF, 1000px 1200px
		#FFF, 1500px 1800px #FFF;
	animation: animStar 100s linear infinite;
}

#stars2::after {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: inherit;
}

#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 179px 338px #FFF, 824px 863px #FFF, 1299px 502px #FFF,
		1103px 1003px #FFF, 200px 500px #FFF, 800px 1300px #FFF, 1500px 1600px
		#FFF;
	animation: animStar 150s linear infinite;
}

#stars3::after {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: inherit;
}

@keyframes animStar {
	from 
	{ 
		transform:translateY(0);	
	}
	to 
	{
		transform: translateY(-1000px);
	}

}
.container {
	display: flex;
	gap: 2px;
	justify-content: space-between;
	justify-content: center;
}

footer {
	font-family: "Charmonman", cursive;
	font-weight: 800;
	display: flex;
	top: 500px;
	position: fixed;
	left: 32px;
	width: 240px;
	z-index: 1000;
	padding: 20px;
	outline: none;
	border: 2px solid brown;
	border-radius: 30px;
	background-color: #f7f7f7;
	box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
	margin-top: 30px;
}

.right-space {
	transform: translateY(-50%);
	position: fixed;
	top: 376px;
	height: 290px;
	width: 100px;
	right: 20px;
	background-color: lavender;
	border-radius: 10px;
	padding-bottom: 20px;
	border: 5px solid gold;
	overflow: hidden;
}

.scenery {
	position: absolute;
	bottom: 0;
	left: 0;
}

.scroll-indicator {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: blue;
	overflow: hidden;
	text-align: center;
}

.wave {
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	height: 20px;
	background: linear-gradient(to bottom, transparent 30%, lightblue 70%);
	animation: waveMovement 2s linear infinite alternate;
}

.bubble {
	position: relative;
	width: 10px;
	height: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	animation: bubbleMovement 2s linear infinite alternate;
	overflow: hidden;
}

@keyframes waveMovement {
    
     0% {
      top: -15px;
    }
    100% {
     
      border-radius: 50%;
     
    }
  }

  @keyframes bubbleMovement {
    0% {
      transform: translateY(2px);
    }
    100% {
      transform: translateY(-20px);
    }
  }
.collapse {
	display: none;
}

.btn-primary {
	display: none;
}
								/* start */
@media (max-width: 510px) {
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		margin-bottom: 0;
	}
	
	.section2,.section3 h2{
	padding-bottom:none;
	}
   
	.right-space {
		display: none;
	}
	.collapse {
		font-family: "Charmonman", cursive;
		font-weight: 500px;
		display: block;
		position: relative;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 5px;
		text-align: center;
	}
	.btn-primary {
		display: block;
		position: relative;
	}
	.btn-primary:hover {
		color: black;
	}
	.carousel-caption p {
		display: none;
	}
	.carousel-caption img {
		height: 30px;
		width: auto;
		mix-blend-mode: difference;
	}
	footer {
		display: none;
	}
	.card-body {
		bottom: calc(-60px - 5px);
		padding: 30px;
	}
	.icons-container {
		margin-bottom: 10px;
		position: absolute;
		top: -19.5%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.icons {
		margin: 0;
		padding: 0;
		display: flex;
	}
	.icons li {
		list-style: none;
		margin: 0 10px;
	}
	.icons li a {
		position: relative;
		display: block;
		width: 45px;
		height: 46px;
		text-align: center;
		line-height: 54px;
		background: #666;
		border-radius: 50%;
		font-size: 30px;
		color: #333;
		transition: .5s;
	}
	.icons li a::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background: #ffee10;
		transition: .5s;
		transform: scale(.9);
		z-index: -1;
		animation: glowBorder 2s linear infinite alternate;
	}
	@keyframes glowBorder {
    0% {
        box-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700;
    }
    100% {
        box-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700;
    }
}
.icons li a:hover::before {
	transform: scale(1.1);
	box-shadow: 0 0 15px #ffee10;
}

.icons li a:hover {
	color: #ffee10;
	box-shadow: 0 0 5px #ffee10;
	text-shadow: 0 0 5px #ffee10;
}

#list-example {
	display: none;
}

.bg2 .container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.section2, .section3 {
	width: 100%;
	margin-bottom: 20px;
}

.square {
	display: none;
}

.rectangle {
	display: none;
}

.col-9 {
	margin-left:60px !important;
	margin-right:65px !important;
}

#projects ul {
	justify-content: center;
}

#projects li {
	flex: 0 0 calc(100% - 20px);
	margin-right: 10px;
	margin-bottom: 20px;
	text-align: center;
	height: 135px;
	width: auto;
}

.projImg {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
}

.mail-icon-and-address {
	justify-content: center;
}

.container {
	display: flex;
	gap: 2px;
	justify-content: center;
	font-size: 20px;
}

.col-md-12 {
	border: 2px solid purple;
	border-radius: 20px;
	border-bottom: 10px;
	border-top: 5px;
	padding-top: 10px;
	padding-bottom: 30px;
}

.col-md-12:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

}

										/* end */


.social-icons-container {
	position: absolute;
	top: -19.5%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.social-icons {
	margin: 0;
	padding: 0;
	display: flex;
}

.social-icons li {
	list-style: none;
	margin: 0 10px;
}

.social-icons li a {
	position: relative;
	display: block;
	width: 45px;
	height: 46px;
	text-align: center;
	line-height: 55px;
	background: #666;
	border-radius: 50%;
	font-size: 30px;
	color: #333;
	transition: .5s;
}

.social-icons li a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #ffee10;
	transition: .5s;
	transform: scale(.9);
	z-index: -1;
	animation: glowBorder 2s linear infinite alternate;
}

@keyframes glowBorder {
  0% {
    box-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700;
  }
  100% {
    box-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700;
  }
}
.social-icons li a:hover::before {
	transform: scale(1.1);
	box-shadow: 0 0 15px #ffee10;
}

.social-icons li a:hover {
	color: #ffee10;
	box-shadow: 0 0 5px #ffee10;
	text-shadow: 0 0 5px #ffee10;
}


.square {
		width: 150px;
		height: 75px;
	}
	
	.list-group {
		margin-bottom: 20px;
	}
	
	.list-group-item {
		font-size: 16px;
	}


.rectangle {
	left: 74px;
	width: 155px;
	top: -50px;
	height: 85px;
	backdrop-filter:blur(10px);
	position: fixed;
	border-radius: 5px;
	border: 4px solid beige;
}

.square {
	left: 75px;
	width: 150px;
	bottom: -50px;
	height: 85px;
	background-color: grey;
	position: fixed;
	border-radius: 5px;
	border: 4px solid beige;
}

address {
	font-style: normal;
	margin-bottom: 15px;
}

a {
	color: #007bff;
	text-decoration: none;
}

.active {
	color: #ffc107;
}

.list-group {
    width: 100%;
    max-width: 300px; 
    margin-bottom: 30px; 
    z-index: 1000; 
    background-color: #8a2be2;
    border: 2px double ; 
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(202, 200, 255, 0.2); 
    display:flex;
    position: fixed;
	font-family: "Nova Cut", system-ui;
    font-weight: 100;
  	font-style: normal;
    width: 200px; 
    overflow-y: auto;
    top:30px;
    left:50px;
}

.list-group-item {
	background-color: #f8f9fc;
	border: none;
	border-radius: 0;
	padding: 10px 20px;
	font-size: 16px;
	color: #333;
	text-align: center;
	right: 5px;
}

.list-group-item:hover {
	background-color: #e9ecef;
	text-decoration: none;
	color: #333;
}

.section1 {
	background-color: #f0f0f0;
	padding: 40px;
	border-radius: 10px;
	margin: 0;
	box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5);
}

.section1 h2 {
	font-size: 32px;
	color: #333;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.section1 p {
	font-size: 18px;
	color: #555;
	line-height: 1.6;
}

#name {
	margin-top:15px;
	font-family: "Sail", system-ui;
	color: snow; 
	mix-blend-mode: difference;
	font-weight: 600;
}

.section2,
.section3 {
	
  flex: 1;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 30px 5px rgba(245, 245, 220, 0.5);
  transition: all 0.3s ease;
  margin-bottom:10px;
  text-align:center;
}

.section2:hover, .section3:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.section2 h2, .section3 h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 28px;
	color: #333;
	margin-bottom: 20px;
	text-align: center;
}

.section2 ul, .section3 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.section2 li, .section3 li {
	font-size: 18px;
	color: #555;
	margin-bottom: 10px;
}

.section2 li:last-child, .section3 li:last-child {
	margin-bottom: 0;
}

.section4 {
	margin-bottom: 10px;
}

.section4:hover {
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.section4 h2 {
	font-size: 32px;
	color: #ffffff;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.section5 {
	background-color: #f8f9fa;
	padding: 40px;
	border: 5px solid gold;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 0 0 10px 2px rgba(255, 215, 0, 0.5);
}

.section5 h2 {
	font-size: 32px;
	color: #333;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.section5 ul {
	list-style: none;
	padding: 0;
}

.section5 li {
	margin-bottom: 20px;
}

.section5 li b {
	font-weight: bold;
	color: #007bff;
}

.section5 li::before {
	content: "\2022";
	color: #007bff;
	font-size: 24px;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.section5 li {
	position: relative;
	transition: transform 0.3s ease;
}

.section5 li:hover {
	transform: translateX(10px);
}

#projects ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#projects h2 {
	text-align: center;
	margin-bottom: 20px;
}

#projects li {
	padding: 10px;
	flex: 0 0 calc(50% - 10px);
	margin-bottom: 20px;
	box-sizing: border-box;
	border-radius: 10px;
	overflow: hidden; 
	background-color: #fff;
	box-shadow: 0 0 10px 5px rgba(240, 248, 255, 0.5);
	cursor: pointer;
}

.projImg {
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

#projects li:hover {
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

#projects li h3 {
	margin-top: 10px;
	font-size: 24px;
	color: #007bff;
	margin-bottom: 10px;
	padding: 10px;
	font-family: "Mitr", sans-serif;
	text-align: center;
}

#projects li h4 {
	font-size: 18px;
	color: #555;
	margin-bottom: 10px;
	padding: 0 10px;
}

#projects li p {
	font-size: 16px;
	color: #777;
	line-height: 1.6;
	transition: none;
	padding: 0 10px 10px;
}

.modal-body {
	width: 500px;
}

#technical {
	margin-top: 10px;
	padding: 40px;
	background-color: #f0f5f9;
	color: #333;
	border: 5px solid green;
	border-radius: 20px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
	transition: all 0.5s ease;
	box-shadow: 0 0 30px 10px rgba(107, 142, 35, 0.5);
}

#technical.highlight {
	transform: translateY(-5px);
}

#technical h2 {
	font-size: 32px;
	color: #333;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#technical ul {
	list-style: none;
	padding: 0;
}

.skill {
	margin-bottom: 20px;
	position: relative;
}

.skill-name {
	font-size: 20px;
	color: #555;
	margin-bottom: 10px;
	font-family: "Crushed", sans-serif;
	font-weight: 800;
	font-size: 25px;
}

.progress {
	height: 15px;
	background-color: #ddd;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.bar {
	height: 100%;
	background-color: #007bff;
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
}

#videos {
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 50px 0;
}

#video h2 {
	margin-top: 5px;
	text-align: center;
	margin-bottom: 20px;
}

#carouselExampleCaptions {
	position: relative;
}

.carousel-item video {
	width: 100%;
	height: auto;
	border-radius: 10px;
	border: 5px solid beige;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	padding: 20px;
}

.carousel-caption h5 {
	color: #fff;
	font-size: 24px;
	margin-bottom: 10px;
}

.carousel-caption p {
	color: #fff;
	font-size: 16px;
}

.carousel-control-prev, .carousel-control-next {
	width: 5%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	filter: invert(1); 
}

.text-right {
	z-index: 100;
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	mix-blend-mode: difference;
}

.carousel-control-prev-icon::before, .carousel-control-next-icon::before
	{
	content: '';
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	width: 40px;
	height: 40px;
	background-size: 100%, 100%;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5);
	transition: background-color 0.5s ease;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes slideAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.carousel-item {
	animation: slideAnimation 1s ease;
}

#internships .p-3 {
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
	padding: 1.5rem;
	box-shadow: 0 0 10px 5px rgba(200, 150, 255, 0.7);
}

#internships .p-3:hover {
	transform: translateY(-5px);
}

.bg1 {
	background-image: url("");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	margin-bottom: 10px;
	text-align: center;
	color: #fff;
	position: relative;
}

.col-3, .col-9 {
	margin-left: 10px;
	margin-right: 10px; 
}

.col-3, .col-9 {
	flex: 1 2; 
	padding-right: 20px;}

.col-3 {
	flex: 1 0 auto;
	background-color: red;
	justify-content: center;
	align-items: center;
}

.col-9 {
	flex: 3 0 auto; 
	margin-left: 270px;
	margin-right: 50px;
}

.bg1 img {
	max-width: 200px;
}

.mail-icon-and-address {
	display: flex;
	align-items: center;
}

.mail-icon-and-address i {
	margin-right: 5px;
}

.image-container:hover {
	cursor: pointer;
}

.image-container {
	box-shadow: 0 0 5px 2px rgba(200, 150, 255, 0.7);
	border-radius: 5px;
}

@keyframes bounce {
  60%, 80%, to { 
    transform: translateY(400px); 
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  }
  70% { transform: translateY(300px); }
  90% { transform: translateY(360px); }
}
@keyframes roll {
	
  from { 
    transform: translateY(400px) rotate(0deg);
  }
  50% {
     animation-duration :6s;
  
    transform: translate(920px, 400px) rotate(150deg);
  }
 
 90% {
    animation-duration:30s; 
    transform: translate(770px, 400px) rotate(180deg);
  }
  to {
    animation-duration: 6s;
    transform: translate(856px, 400px) rotate(360deg);
  }
}
.ball {
	width: 300px;
	height: 300px;
	background: rgb(255, 140, 105);
	background: radial-gradient(at 30% 30%, rgba(251, 199, 199, 1),
		rgba(255, 140, 105, 1));
	border-radius: 50%;
	position: absolute;
	left: -50px;
	top: -473px;
	border: 5px solid purple;
	z-index: -1;
	animation: bounce 2s cubic-bezier(.755, .05, .855, .06) forwards, roll
		3s 2.05s ease forwards;
}

@media screen and (max-width: 920px) {
	.ball {
		width: 300px;
		height: 300px;
		left: calc(50% - 150px);
		top: calc(50% - 740px);
		animation: bounce 2s cubic-bezier(.755, .05, .855, .06) forwards;
	}
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f8f9fa;
	padding: 20px;
	border: 5px solid lightblue;
	margin-top: 10px;
	border-radius: 10px;
	box-shadow: 0 0 30px 5px rgba(173, 216, 230, 0.5);
	transition: all 0.3s ease;
	text-align: center;
}

.card:hover {
	transform: scale(1.1);
	transition: transform 0.3s ease;
}

.card-title {
	font-family: "Laila", serif;
	font-weight: 600;
}

.brackets::before,
.brackets::after {
    display: none; 
    margin:none;
    padding:none;
}

@media screen and (min-width: 769px) {
    .brackets::before,
    .brackets::after {
        display: inline-block; /* Show brackets on larger screens */
        opacity: 0; /* Set opacity to 1 on larger screens */
        -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
        -moz-transition: -moz-transform 0.3s, opacity 0.2s;
        transition: transform 0.3s, opacity 0.2s;
    }

    .brackets::before {
        margin-right: 10px;
        content: '[';
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        transform: translateX(20px);
    }

    .brackets::after {
        margin-left: 10px;
        content: ']';
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    .brackets:hover::before,
    .brackets:hover::after,
    .brackets:focus::before,
    .brackets:focus::after {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.heading {
	font-family: "Madimi One", sans-serif;
}

.imp {
	font-family: "Ojuju", sans-serif;
	font-weight: 600;
}

.key {
	padding-top: none;
	font-size: 30px;
	font-family: "Gruppo", sans-serif;
	font-weight: 800;
}

.thick-double-underline {
	position: relative;
	display: inline-block;
}

.thick-double-underline::before, .thick-double-underline::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: white;
	bottom: -12px;
	opacity: 0;
	transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1), opacity 0.2s;
}

.thick-double-underline::before {
	transform-origin: 100% 50%;
	transform: scaleX(0);
}

.thick-double-underline::after {
	content: '';
	height: 1px;
	bottom: -6px;
	background-color: white;
	opacity: 0;
	transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1), opacity 0.2s;
}

.thick-double-underline:hover::before, .thick-double-underline:hover::after
	{
	transform: scaleX(1);
	opacity: 1;
}

.btn-primary{
	background-color: transparent; 
}

.btn:hover {
    background-color: lightblue; /* Change to the desired hover color */
}


